---
import type { ChatService } from "../../../../api/src";
export const prerender = false;

const {slug} = Astro.params;
if (!slug) throw new Error('no path');

const chat = Astro.locals.runtime.env.Chat as unknown as ChatService;
---

<h1>Invite a user</h1>