---

---

<html>
  <head>
    <title>Splash</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<style>
		.middle {
			margin: 0;
			font-family: Helvetica, sans-serif;
		}
	</style>
  </head>
  <body class="middle">
		<slot/>
  </body>
</html>