---

---

<html transition:animate="none">
  <head>
    <title>Astro SPA</title>
    <!-- <ClientRouter/> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<style>
		.middle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
			background-image: var(--body-bg);
			font-family: Helvetica, sans-serif;
		}
	</style>
  </head>
  <body>
	<main class="middle">
		<slot/>
    </main>
  </body>
</html>