---
import {generateGoogleOAuthURL} from "../server/oAuth";
import AppLayout from "./AppLayout.astro";

const developement = Astro.locals.runtime.env.DEV === 'true'


---

<AppLayout>
<div></div>
</AppLayout>
