---
import AppLayout from "./AppLayout.astro";
---

<AppLayout>
	<div style={{maxWidth: "800px"}}>
		<h1>Terms of the service</h1>
		<p>
			In this document, I Edvinas Momkus edvinasmomkus@gmail.com explain, that I don't have any malicious intents.
			This application is intended to build code base and theory for my website build skill set.
			the Site use oAuth2 to indentify users, and let them interact with the chats. I am unable to access data, related to the oAuth2 accounts, like
			users personal emails.
		</p>
		<h2>Data Colection</h2>
		<p>
			This site store users input data in cloudflare's D1 database on my account.
			Here is the list of users input -
			<ol>
				<li>
					oAuth2 login data - email, picture, name.	
				</li>
				<li>
					chat interaction - sending message, creating chat room, etc.
				</li>
			</ol>
			but also this application can log, connection context information like - ip address, etc.
		</p>
		<h3>Store durration</h3>
		<p>
			Data is stored indentify, unless a user contacts me and requests data to be deleted.
		</p>
		<h2>
			
		</h2>
		<p>

		</p>
	</div>
</AppLayout>